.navbar-default .container-fluid {
  background-color: #87509c; }
  .navbar-default .container-fluid img {
    height: 30px;
    width: auto;
    margin: 10px 0 10px 10px; }

.navbar-default .navbar-nav > li > a {
  color: white;
  padding: 7px 20px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #643a79;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.5s; }

.navbar-toggle {
  background-color: white; }

@media screen and (max-width: 767px) {
  .navbar-default .container-fluid {
    background-color: white; }
    .navbar-default .container-fluid img {
      filter: invert(100%);
      -webkit-filter: invert(100%); }

  .navbar-default .navbar-nav > li > a {
    display: block;
    margin: 0 auto;
    color: #3c4761;
    padding: 15px 15px; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      background-color: #ccc;
      border-radius: 0;
      color: #3c4761; } }
.jumbotron-custom1 {
  height: 600px;
  background-color: #87509c; }
  .jumbotron-custom1 h3 {
    margin-top: 200px;
    margin-bottom: 80px; }

.btn-work {
  font-size: 18px;
  background-color: #eb7d4b;
  border-bottom: 3px solid;
  border-color: #c86a40;
  color: white;
  padding: 23px 45px;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s; }
  .btn-work:hover {
    background-color: #c86a40;
    color: white;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s; }

.jumbotron-custom2 {
  min-height: 750px;
  background-color: #17c2a4; }
  .jumbotron-custom2 h3, .jumbotron-custom2 h4 {
    font-weight: bold; }

#lines {
  display: block;
  margin: 0 auto;
  width: 85px;
  height: 5px;
  background-color: #c8d9e5; }

.jumbotron-custom3 {
  min-height: 915px;
  background-color: #e7f1f8; }
  .jumbotron-custom3 img {
    margin-bottom: 40px; }
  .jumbotron-custom3 h1, .jumbotron-custom3 h4, .jumbotron-custom3 p {
    color: #3c4761; }
  .jumbotron-custom3 h5 {
    color: #30bae7;
    font-weight: bold; }
  .jumbotron-custom3 h4, .jumbotron-custom3 h1 {
    font-weight: bold; }

.jumbotron-custom4 {
  min-height: 700px;
  background-color: white; }
  .jumbotron-custom4 h1, .jumbotron-custom4 h4, .jumbotron-custom4 p {
    color: #3c4761;
    font-weight: bold; }
  .jumbotron-custom4 p {
    font-weight: normal; }

.jumbotron-custom5 {
  min-height: 1400px;
  background-color: #ffdd99; }
  .jumbotron-custom5 #lines {
    background-color: #e5c37f; }
  .jumbotron-custom5 h1, .jumbotron-custom5 h4, .jumbotron-custom5 p {
    color: black;
    font-weight: bold; }
  .jumbotron-custom5 p {
    font-weight: normal; }
  .jumbotron-custom5 .btn-custom {
    background-color: #ebc985;
    color: black;
    margin-right: 10px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-weight: bold; }
    .jumbotron-custom5 .btn-custom:hover, .jumbotron-custom5 .btn-custom:focus {
      background-color: white;
      -webkit-transition: background-color 0.8s;
      transition: background-color 0.8s; }
  .jumbotron-custom5 .btn-custom2 {
    font-size: 18px;
    background-color: #17c2a4;
    border-bottom: 3px solid;
    border-color: #14a58c;
    color: white;
    padding: 23px 45px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .jumbotron-custom5 .btn-custom2:hover {
      background-color: #14a58c;
      -webkit-transition: background-color 0.8s;
      transition: background-color 0.8s; }

.jumbotron-custom6 {
  min-height: 895px;
  background-color: #d74680; }
  .jumbotron-custom6 h1 {
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 80px;
    margin-bottom: 20px; }
  .jumbotron-custom6 h3 {
    font-weight: bold;
    letter-spacing: 2px; }
  .jumbotron-custom6 p {
    font-size: 18px; }
  .jumbotron-custom6 img {
    height: 100px;
    width: auto; }
  .jumbotron-custom6 #lines {
    background-color: #b73c6d;
    margin-bottom: 30px; }
  .jumbotron-custom6 #em-align {
    font-style: italic; }
  .jumbotron-custom6 h4 {
    color: #efa18f; }

.jumbotron-custom7 {
  min-height: 930px;
  background-color: #3c5499; }
  .jumbotron-custom7 h1 {
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 80px;
    margin-bottom: 20px; }
  .jumbotron-custom7 p {
    font-size: 18px;
    margin-bottom: 50px; }
  .jumbotron-custom7 #lines {
    background-color: #273a71;
    margin-bottom: 30px; }
  .jumbotron-custom7 input[type="text"] {
    background-color: #273a71;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    height: 60px; }
  .jumbotron-custom7 #comment {
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
    background-color: #273a71;
    border: none;
    font-size: 18px; }
  .jumbotron-custom7 .btn-custom3 {
    font-size: 18px;
    background-color: #30bae7;
    border-bottom: 3px solid;
    border-color: #299ec5;
    color: white;
    padding: 23px 55px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .jumbotron-custom7 .btn-custom3:hover {
      background-color: #299ec5;
      -webkit-transition: background-color 0.8s;
      transition: background-color 0.8s; }

@media screen and (max-width: 991px) {
  .jumbotron-custom6 > p, h3, h4 {
    text-align: center; }

  #em-align {
    font-style: italic;
    text-align: center; } }
body {
  margin: 0;
  color: white;
  font-family: "Titillium Web", sans-serif; }

footer {
  min-height: 115px;
  background-color: #344b8e; }
  footer div li {
    margin-top: 30px; }
    footer div li a {
      color: white;
      font-size: 20px;
      margin-right: 15px;
      text-decoration: none; }
      footer div li a:hover, footer div li a:focus {
        text-decoration: none;
        color: #469dde; }

/*# sourceMappingURL=main.css.map */
