@import "./vars.sass"

header
  background:
    color: #87509c

.navbar-fixed-top
  background-color: #87509c

  a
    color: white

.navbar-header
  img
    height: 30px
    width: auto

.navbar > .navbar-collapse > .collapse > a:hover
  background-color: #5b366a
  border-radius: 10px
  color: black

.jumbotron
  height: 600px
  background:
    color: #87509c

  h3
    color: white
    margin-top: 145px
