.fb
  display: inline-block
  background: url("../img/fb.png") center center
  margin-top: 15px
  margin-right: 10px
  margin-bottom: 40px
  height: 32px
  width: 32px
  -webkit-transition: background 0.3s

  &:hover
    background: url("../img/fbhover.png") center center
    -webkit-transition: background 0.3s


.twitter
  display: inline-block
  background: url("../img/twitter.png") center center
  margin-top: 15px
  margin-right: 10px
  margin-bottom: 40px
  height: 32px
  width: 32px
  -webkit-transition: background 0.3s

  &:hover
    background: url("../img/twitterhover.png") center center
    -webkit-transition: background 0.3s


.linkedin
  display: inline-block
  background: url("../img/linkedin.png") center center
  margin-top: 15px
  margin-right: 10px
  margin-bottom: 40px
  height: 32px
  width: 32px
  -webkit-transition: background 0.3s

  &:hover
    background: url("../img/linkedinhover.png") center center
    -webkit-transition: background 0.3s


.mail
  display: inline-block
  background: url("../img/mail.png") center center
  margin-top: 15px
  margin-right: 10px
  margin-bottom: 40px
  height: 32px
  width: 32px
  -webkit-transition: background 0.3s

  &:hover
    background: url("../img/mailhover.png") center center
    -webkit-transition: background 0.3s
