@import "./vars.sass"
@import "./header.sass"
@import "./section.sass"
@import "./icons.sass"

html, body
  margin: 0
  padding: 0
  overflow-x: hidden
  color: white
  font-family: $font-stack

footer
  min-height: 120px
  background-color: #273a71

  div li
    margin-top: 30px

    a
      color: white
      font-size: 20px
      margin-right: 15px
      text-decoration: none

      &:hover, &:focus, &:active
        text-decoration: none
        color: #469dde
  #matt
    color: white

.section2, .section3, .section4
  .block1
    -webkit-animation-delay: 0.1s

  .block2
    -webkit-animation-delay: 0.2s

  .block3
    -webkit-animation-delay: 0.3s

  .block4
    -webkit-animation-delay: 0.4s


.section5, .section6
  .block1
    -webkit-animation-delay: 0.2s

  .block2
    -webkit-animation-delay: 0.1s

  .block3
    -webkit-animation-delay: 0.2s

  .block4
    -webkit-animation-delay: 0.1s
